<section class="bg-primary" id="introduction">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Introduction</h1>
                <hr class="light">
                <p class="text-faded" style="text-align: justify;">Elon Musk is undeniably one of the most influential figures in the world nowadays. In addition to being the richest person on the planet, he has been selected to be Time Magazine’s Person of the Year for 2021. 
                    <br>
                    Being Tesla’s face figure, he is reputed for his several achievements at the industry level. The company has been a key player in triggering the automobile industry’s shift towards electric cars. Being a pioneer in this field, the company’s worth has skyrocketed in the last few years.
                    With all of that, Musk has obtained a heavy weight in the domain of finance as well. For instance, the cryptocurrency market always gets shaken by his tweets recently. His social networks have also become a consequent marketing platform for his companies. 
                    <br>
                    In the shadow of this observation, the aim of this study will be to analyse the influence of Elon Musk’s quotes on Tesla’s stock price shifts by seeking correlations. We will also try to build a prediction model which forecasts the daily stock return.</p>
                <hr class="light">

                <p class="text-faded" style="text-align: justify;">
                    This blog begins by analysing Tesla's stock price from 2015 until 2020, to see if we can gain insight into its future changes.
                    Then, we inspect Elon Musk's quotations using sentiment analysis.
                    Afterwads, based on our analyses, we try to observe a relationships between Elon Musk's quotes and the returns of Tesla's stock price and we will provide some predictive models
                    that could help us make predictions.
                    <br>
                    Finally,we will present the main conclusions in addition to the limitions of the study. 
                </p>
            </div>
        </div>
    </div>
</section>