<section class="bg-primary" id="MainAnalysis">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Main Analysis</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div >
                 <!--Figure 1--> 
                <div >
                    <!--<hr class="light"> bare-->
                    <br> 
                    <img src="img\mostCommon.png" width="100%">

                    <p class="text-faded" >
                        To get insight of the common topics Elon Musk talk about we decided to find the most frequent words in our dataset, 
                        note that more the word is frequent in the dataset more its size in the image is big. 
                      
                        Notice that the words tesla and car are the most common words, which is useful for our study since we will only 
                        use the quotations that contain the words car, tesla and vehicule. 
                    </p>

                    <hr class="light">
                    <h2 class="text-center">Sentiment Analysis</h2>

                    <p class="text-faded" >
                        To be able to get the most out of our data we need to perform sentiment analysis 
                    </p>
                         <!--
                        Here we analyse the quotations of Elon Musk, we first start by ploting the number of quotations per day 
                        for visualization purpose.
                        
                        <figure>
                            <iframe src="img\quotesPerDay.html" width="100%" height="400px" ></iframe>
                        </figure>
                        -->
                        
                        
                        
                       

                </div>

                
        
            </div>
            
            
        </div>
    </div>
</section>
