<section class="bg-primary" id="MainAnalysis">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Main Analysis</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div >
                 <!--Figure 1--> 
                <div >
                    <!--<hr class="light"> bare-->
                    <br> 
                    <img src="img\mostCommon.png" width="100%">

                    <p class="text-faded" >
                        To get insight of the common topics Elon Musk talk about we decided to find the most frequent words in our dataset, 
                        note that more the word is frequent in the dataset more its size in the image is big. 
                      
                        Notice that the words tesla and car are the most common words, which is useful for our study since we will only 
                        use the quotations that contain the words car, tesla and vehicule. 
                    </p>

                    <hr class="light">
                    <h2 class="text-center">Sentiment Analysis</h2>

                    <p class="text-faded" >
                        <br>
                        To be able to get the most out of our data we need to perform sentiment analysis, 
                        It’s a very powerful natural language processing tool that we use in our case as the main feature that relates Musk’s quotes to Tesla’s stock price. 
                        In this study, to get an accurate sentiment analysis we will be using two pretrained models : Vader and TextBlob.
                        <br>
                        Vader and TextBlob mainly output a continuous value varying between -1 and 1, the first being the extreme negative sentiment and the second is the extreme positive one. 
                        TextBlob comes with an additional feature : 
                        Subjectivity. Before running them on the quotes, we decide on the polarity (positive or negative) based on fixed thresholds. 
                        <br>
                        The bellow pie charts show the results obtained when running Vader and Blob: 
                        
                    </p>

                    <table style = "width:100%;height:100%" align = "center">
                        <tr>
                            <td> <img src="img\sentimentVader.png" width="400px"></td>
                            <td><img src="img\sentimentBlob.png" width="400px"></td>
                        </tr>
                        
                     </table>
                     <p class="text-faded" >
                        To compare the performance of the two models we visualize the result of the both on the same plot:
                        <br>
                     </p>
                    <div class="cupcake" align = "center">
                        <figure>
                            <iframe src="img\model_comparison.html" width="750" height="400px"></iframe>
                        </figure>
                    </div>

                    <p class="text-faded" >
                        <br>
                        As we can see from the plot, the outputs of the two algorithms are pretty similar. It seems that the difference between them is just a relatively small offset. We thus decided to continue to work with the both of them using the adequate offset for each. 
                     </p>
                        

                     <hr class="light">
                     <h2 class="text-center">TF-IDF</h2>
                     <p class="text-faded" >
                        <br>
                        In order to add some more features into our study, we also perform TF-IDF weighting on our quotes. 
                        <br>
                        This method was proven to be efficient as it significantly boosted the built models performance both for correlation seeking and prediction.
                     </p>

                     <hr class="light">
                     <h2 class="text-center">Correlation between polarity score and stock returns</h2>
                     <p class="text-faded" >
                        <br>
                        Here we examine if there is any predictive relationship between the sentiment analysis score and the stock returns. 
                     </p>
                     <div class="cupcake" align = "center">
                        <figure>
                            <iframe src="img\correlation.html" width="750" height="400px"></iframe>
                        </figure>
                    </div>

                    <p class="text-faded" >
                        <br>
                        From this plot, it seems that there's a slight correlation between the stock retuns and the sentiment analysis outputs. We will see later how will this impact the results. 
                     </p>
                    
                       

                </div>

                
        
            </div>
            
            
        </div>
    </div>
</section>
